<template>
	<div class="app">
		<header class="header" v-if="$store.state.isLoggedIn">
			<div class="left">
				<button v-if="$route.path==='/timetable'" class="toModuleChoice" @click="toModuleChoice">zur Modulauswahl</button>
				<button v-if="$route.path==='/timetable'" class="toSchedule" @click="toSchedule">zur Belegungsübersicht</button>
				<button v-if="$route.path==='/modulechoice'" class="toTimetable" @click="toTimetable">zur Kursauswahl</button>
				<button v-if="$route.path==='/modulechoice'" class="toSchedule" @click="toSchedule">zur Belegungsübersicht</button>
				<button v-if="$route.path==='/schedule'" class="toModuleChoice" @click="toModuleChoice">zur Modulauswahl</button>
				<button v-if="$route.path==='/schedule'" class="toTimetable" @click="toTimetable">zur Kursauswahl</button>
			</div>
			<div class="center">
				Eingeloggt als "{{ $store.state.student.username }}"
			</div>
			<div class="right">
				<button class="logout" @click="handleLogout">Logout</button>
			</div>
		</header>
		<router-view></router-view>
	</div>
</template>

<script>
export default {
	name: 'App',
	created () {
		if (!this.$store.state.student) this.$router.push({ path: '/' })
	},
	methods: {
		handleLogout () {
			this.$store.dispatch('handleLogout').then(this.$router.push('/'))
		},
		toTimetable () {
			this.$router.push('/timetable')
		},
		toModuleChoice () {
			this.$router.push('/modulechoice')
		},
		toSchedule () {
			this.$router.push('/schedule')
		}
	}
}
</script>

<style lang="scss">
$accent: rgb(246, 80, 80);
$porcelain: #eceff1;

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #fff;
	color: #546E7A;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	background: $porcelain;
	justify-content: space-between;
	padding: 20px;

	.center{
		line-height: 1.2;
		align-self: center;
	}

	button{
		margin: 5px;
	}
}

input[type="text"],
input[type="password"],
select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	border: 2px solid $porcelain;
	border-radius: 5px;
	&:hover{
		border: 2px solid lighten($accent, 30%);
	}
	&:focus{
		outline: none;
		border: 2px solid $accent;
	}
}

option {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	background:$porcelain;
	border-top:1px solid darken($porcelain, 20%);
	padding:.3em 1em .3em 1em;
}

button,
input[type="submit"]{
	padding: 7px 10px;
	background: $accent;
	color: #fff;
	border: none;
	font-weight: 700;
	border-radius: 5px;

	&:hover{
		background: darken($accent, 5%)
	}

	&:active{
		background: darken($accent, 10%)
	}
}

</style>
