<template>
	<div class="class" :data-start="classdata.start" :data-end="classdata.end" :data-day="classdata.weekday" :class="classdata.moduleType">
		<div class="head">
			<span class="courseNumber">
				{{ classdata.courseNumber}}
			</span>
			<span class="moduleType">
				{{ classdata.moduleType}}
			</span>
		</div>
		<div class="title">
			{{ classdata.titleAbbreviation }}
		</div>
		<div class="group" v-if="classdata.group && classdata.group !== 'V'">
			{{ classdata.group }}
		</div>
		<span class="checkbox" v-if="$route.path==='/timetable'">
			<input type="checkbox" name="module" value="classdata._id" :checked="isChecked(classdata._id)" :data-courseid="classdata._id">
		</span>
		<span>Teilnehmer: {{ classdata.maxParticipants - classdata.placesAvailable}} / {{ classdata.maxParticipants }}</span>
		<div class="bottom">
			<span class="lecturer">
				{{ classdata.lecturer }}
			</span>
			<span class="room">
				{{ classdata.room }}
			</span>
		</div>
	</div>
</template>
<script>
export default {
	name: 'Class',
	props: ['classdata'],
	methods: {
		isChecked: function (id) {
			let chosenids = []
			let enrolledToModules = this.$store.state.student.enrolledToModules
			enrolledToModules.forEach((element) => {
				if (id === element.course) {
					chosenids.push(id)
				}
			})

			return chosenids.indexOf(id) > -1
		}
	},
	data () {
		return {}
	}
}
</script>
<style lang="scss">
$type-colors: (
	"V": #8ec8ee,
	"P": #fec67b,
	"seminar": #86d68b,
	"uebung": #d6f39e,
	"tutorium": #c8d5dd
);

@each $class, $color in $type-colors {
	.#{$class} {
		background: $color;
	}
}

.class {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	border-radius: 5px;
	position: relative;

	.head {
		display: flex;
		justify-content: space-between;
	}

	.title {
		text-align: center;
		font-weight: bold;
		hyphens: auto;
	}

	.group {
		text-align: center;
		font-weight: 600;
		font-size: 4rem;
		opacity: 0.25;
		z-index: 1;
		position: absolute;
		width: 100%;
		line-height: 1;
		left: 0;
		pointer-events: none;
	}

	.checkbox {
		z-index: 5;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
	}
}
</style>
