<template>
		<div>
			<Class v-for="subject in dayta" v-if="isShown(subject.destinedForSemester)" :key="subject._id" :classdata="subject"/>
		</div>
</template>

<script>
import Class from './Class'
export default {
	name: 'Day',
	props: ['dayta', 'day'],
	components: { Class },
	data () {
		return {}
	},
	methods: {
		isShown: function (semester) {
			return this.$store.state.shownSemester === 'alle' || semester.toString() === this.$store.state.shownSemester
		}
	}
}
</script>

<style lang ="scss">
	$porcelain: #eceff1;

	.day{
		grid-template-rows: repeat(3, 1fr) 30px repeat(4, 1fr);
		grid-gap: 10px;
		display: grid;
		column-count: 1;
		padding: 5px;
		border: 2px solid $porcelain;
	}

	$times: (
	'08:15': 1,
	'10:00': 2,
	'11:45': 3,
	'14:15': 5,
	'16:00': 6,
	'17:45': 7,
	'19:30': 8,
	'09:45': 2,
	'11:30': 3,
	'13:15': 4,
	'15:45': 6,
	'17:30': 7,
	'19:15': 8,
	'21:00': 9,

	);

	$days: (
	'Monday': 1,
	'Tuesday': 2,
	'Wednesday': 3,
	'Thursday': 4,
	'Friday': 5,
	);

	@each $time, $position in $times {
		[data-start="#{$time}"] {
			grid-row-start: $position;
		}

		[data-end="#{$time}"] {
			grid-row-end: $position;
		}
	}
</style>
