<template>
	<div class="login">
		<img src="@/assets/aor.jpg" class="logo">
		<form @submit.prevent="handleLogin()">
			<input v-model="username" placeholder="Username" type="text">
			<input v-model="password" placeholder="Password" display="none" type="password">
			<input type="submit" value="Login" />
		</form>
		<span class="errMsg">{{ $store.state.errMsg }}</span>
	</div>
</template>

<script>
export default {
	name: 'Login',
	data () {
		return {
			username: '',
			password: ''
		}
	},
	methods: {
		handleLogin: function () {
			this.$store
				.dispatch('handleLogin', {
					username: this.username,
					password: this.password
				})
				.then(response => {
					if (response.success) this.$router.push('/modulechoice')
				})
				.catch(err => {
					console.error(err)
				})
		}
	}
}
</script>

<style lang="scss" scoped>
.logo {
	margin-bottom: 30px;
}

.login {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
</style>
