<template>
	<div class="modulechoice">
		<span class="errMsg">{{ $store.state.errMsg }}</span>
		<div class="head">
			Wählen Sie die Module, die Sie belegen möchten:
		</div>
		<form @submit.prevent="showTimetable()">
			<input type="submit" value="Modulwahl bestätigen" />
			<div class="modules" v-for="module in modules" :key="module._id">
				<label>
					<input type="checkbox" name="module" value="module._id" :checked="isChecked(module.id._id)" :data-moduleid="module.id._id"> {{ module.id.courseNumber }} - {{ module.id.title }}
				</label>
			</div>
			<input type="submit" value="Modulwahl bestätigen" />
		</form>
	</div>
</template>
<script>
export default {
	name: 'ModuleChoice',
	computed: {
		modules: function () {
			return this.$store.state.student.examReg.subjects
		}
	},
	methods: {
		isChecked: function (id) {
			return this.$store.state.chosenModules.indexOf(id) > -1
		},
		showTimetable: function () {
			let selected = document.querySelectorAll('input[type="checkbox"]:checked')
			let chosenModules = []
			selected.forEach((element) => {
				chosenModules.push(element.dataset.moduleid)
			})
			this.$store
				.dispatch('chooseModules', {
					modules: chosenModules
				})
				.then(
					this.$router.push('/timetable')
				)
				.catch(err => {
					console.error(err)
				})
		},
		handleLogout: function () {
			this.$store
				.dispatch('handleLogout')
				.then(this.$router.push('/'))
				.catch(err => console.error(err))
		}
	},
	data () {
		return {
		}
	}
}

</script>
<style lang="scss">
	.modulechoice {
		padding: 20px;
		input[type="submit"] {
			margin: 20px 0;
		}
		.head{
			padding: 20px 0;
		}
	}

	.modules {
		margin: 10px 0;
	}
</style>
