<template>
	<div class="schedule">
		<div class="print">
			<button v-if="$route.path==='/schedule'" @click="printList">Liste drucken</button>
			<button v-if="$route.path==='/schedule'" @click="printSchedule">Stundenplan drucken</button>
		</div>
		<div id="schedule_list">
			<span class="errMsg">{{ $store.state.errMsg }}</span>
			<span>
				Gewählte Kurse:
			</span>
			<div class="classes_header">
				<div>Tag</div>
				<div>Zeit</div>
				<div>Nr</div>
				<div>Titel</div>
				<div>Gruppe</div>
				<div>Raum</div>
				<div>Dozent</div>
			</div>
			<div class="classes">
				<div class="row" v-for="course in $store.state.chosenCourses" :key="course._id">
					<td>{{ course.weekday }}</td>
					<td>{{ course.start }}-{{ course.end }}</td>
					<td>{{ course.courseNumber }}</td>
					<td>{{ course.title }}</td>
					<td>{{ course.group }}</td>
					<td>{{ course.room }}</td>
					<td>{{ course.lecturer }}</td>
				</div>
			</div>
		</div>
		<div id="timetable" class="timetable">
					<div class="times">
						<div class="time" v-for="time in times" :key="time.id">
							{{ time }}
						</div>
					</div>
					<div class="days">
						<div class="weekday-header" v-for="day in days" :key="day.id">
							{{ day }}
						</div>
						<Day
							v-for="day in days"
							:dayta="classes[day]"
							:key="day"
							:day="day"
							:class="['day', day]"
						/>
					</div>

			</div>
	</div>
</template>

<script>
import Day from './Day'
import Class from './Class'
import JsPDF from 'jspdf'
import html2canvas from 'html2canvas'
export default {
	name: 'Schedule',
	methods: {
		handleLogout: function () {
			this.$store
				.dispatch('handleLogout')
				.then(this.$router.push('/'))
				.catch(err => console.error(err))
		},
		printSchedule: function () {
			let timetable = document.querySelector('#timetable')
			timetable.style.width = '1280px'
			timetable.style.height = '800px'
			let pdf = new JsPDF('l', 'mm', 'a4')
			html2canvas(timetable).then(canvas => {
				let image = canvas.toDataURL('image/png')
				pdf.addImage(image, 'JPEG', 20, 20, 256, 160)
				pdf.save('schedule.pdf')
				this.$router.go()
			})
		},
		printList: function () {
			let list = document.querySelector('#schedule_list')
			list.style.height = '1280px'
			list.style.width = '800px'
			let pdf = new JsPDF('p', 'mm', 'a4')
			html2canvas(list).then(canvas => {
				let image = canvas.toDataURL('image/png')
				pdf.addImage(image, 'JPEG', 20, 20, 160, 256)
				pdf.save('list.pdf')
				this.$router.go()
			})
		}
	},
	components: { Class, Day },
	data () {
		return {
			times: [
				'08:15-09:45',
				'10:00-11:30',
				'11:45-13:15',
				'',
				'14:15-15:45',
				'16:00-17:30',
				'17:45-19:15',
				'19:30-21:00'
			],
			days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
			activemobile: 0
		}
	},
	computed: {
		classes () {
			let separatedClasses = {
				'Monday': [],
				'Tuesday': [],
				'Wednesday': [],
				'Thursday': [],
				'Friday': []
			}
			this.$store.state.chosenCourses.forEach(function (element) {
				separatedClasses[element.weekday].push(element)
			})
			return separatedClasses
		}
	}
}
</script>

<style lang="scss">
$porcelain: #eceff1;

.timetable {
	display: grid;
	grid-template-areas: "times content";
	grid-template-columns: 100px 1fr;
}

.times{
	grid-area: times;
	display: grid;
	grid-template-rows: repeat(3, 1fr) 30px repeat(4, 1fr);
	margin-top: 50px;
	grid-gap: 0;
	text-align: center;
}

.days {
	grid-area: content;
	display: grid;
	align-content: center;
	text-align: center;
	grid-gap: 10px;
	grid-template-rows: 30px 1fr;
	grid-template-columns: repeat(5, 1fr);
}

#schedule_list{
	margin: 20px;
}

.classes_header,
.classes{
	margin: 10px 0px;
}

.classes_header,
.classes .row{
	display: grid;
	grid-template-columns: 3fr 2fr 1fr 6fr 1fr 2fr 1fr;
	padding: 10px;
	@media screen and (max-width: 1025px){
		display: flex;
		flex-direction: column;
	}
}

.classes .row:nth-child(2n-1){
	background: $porcelain;
}

.print{
	margin: 20px;
}

@media screen and (max-width: 1025px){
	.schedule_list table {
		display: block;
		tr{
			display: block;
		}
		td{
			display: block;
		}
	}
}
</style>
