<template>
	<div class="timetable-container">
		<form @submit.prevent="showSchedule()">
			<span class="errMsg">{{ $store.state.errMsg }}</span>
			<div class="semester">
				Semester
				<select @change="changeSemester(selectedSemester)" v-model="selectedSemester">
					<option v-for="semester in availableSemesters" :key="semester">{{semester}}</option>
				</select>
			</div>
			<input type="submit" value="Kurswahl bestätigen" />
			<div id="timetable" class="timetable">
				<div class="times">
					<div class="time" v-for="time in times" :key="time.id">
						{{ time }}
					</div>
				</div>
				<div class="days">
					<div class="weekday-header" v-for="day in days" :key="day.id">
						{{ day }}
					</div>
					<Day v-for="day in days" :dayta="classes[day]" :key="day" :day="day" :class="['day', day, (days.indexOf(day) === activemobile) ? 'active-mobile' : '']" />
				</div>

			</div>
			<input type="submit" value="Kurswahl bestätigen" />
		</form>
		<div class="dayvigator">
			<button class="left" @click="changeDay(-1)">⯇</button>
			<span>{{ days[activemobile] }}</span>
			<button class="Right" @click="changeDay(1)">⯈</button>
		</div>
	</div>
</template>

<script>
import Class from './Class'
import Day from './Day'
export default {
	name: 'Timetable',
	methods: {
		isChecked: function (id) {
			return this.$store.state.chosenModules.indexOf(id) > -1
		},
		showSchedule: function () {
			let selected = document.querySelectorAll('input[type="checkbox"]:checked')
			let chosenCourses = []
			selected.forEach((element) => {
				this.days.forEach((day) => {
					this.classes[day].forEach((course) => {
						if (course._id === element.dataset.courseid) {
							chosenCourses.push(course)
						}
					})
				})
			})
			chosenCourses.forEach(course => {
				let duplicate = false
				this.$store.state.student.enrolledToModules.forEach(modul => {
					if (modul.course === course._id) {
						duplicate = true
					}
				})
				if (!duplicate) {
					this.$store.state.student.examReg.subjects.forEach(subject => {
						if (subject.id.courseNumber === course.courseNumber) {
							console.log('Enroll: ', course._id)
							this.$store
								.dispatch('enrollStudent', {
									subjectId: subject.id._id,
									courseId: course._id,
									group: course.group
								})
								.catch(err => {
									console.error(err)
								})
						}
					})
				}
			})
			this.$store.state.student.enrolledToModules.forEach(modul => {
				let duplicate = false
				chosenCourses.forEach(c => {
					if (c._id === modul.course) {
						duplicate = true
					}
				})
				if (!duplicate) {
					this.$store.state.student.examReg.subjects.forEach(subject => {
						subject.id.schedule.forEach(c => {
							if (c._id === modul.course) {
								console.log('Deselect: ', modul.course)
								this.$store
									.dispatch('deselectStudent', {
										subjectId: modul.subject,
										courseId: modul.course,
										group: c.group
									})
									.catch(err => {
										console.error(err)
									})
							}
						})
					})
				}
			})
			this.$store
				.dispatch('chooseCourses', {
					courses: chosenCourses
				})
				.then(
					this.$router.push('/schedule')
				)
				.catch(err => {
					console.error(err)
				})
		},
		handleLogout: function () {
			this.$store
				.dispatch('handleLogout')
				.then(this.$router.push('/'))
				.catch(err => console.error(err))
		},
		setAvailableSemesters (semesters) {
			this.availableSemesters = []
			this.availableSemesters = ['alle', ...semesters]
		},
		changeSemester: function (semester) {
			this.$store
				.dispatch('changeSemester', { semester: semester })
				.then(this.$router.push('/timetable'))
				.catch(err => console.error(err))
		},
		changeDay: function (value) {
			if (this.activemobile + value > -1 && this.activemobile + value <= this.days.length - 1) {
				this.activemobile += value
			}
		}
	},
	components: { Class, Day },
	computed: {
		classes () {
			let separatedClasses = {
				'Monday': [],
				'Tuesday': [],
				'Wednesday': [],
				'Thursday': [],
				'Friday': []
			}
			let availableSemesters = new Set()
			let chosenModules = this.$store.state.chosenModules
			this.$store.state.student.examReg.subjects.forEach(function (element) {
				if (chosenModules.indexOf(element.id._id) > -1) {
					availableSemesters.add(element.destinedForSemester)
					element.id.schedule.forEach(function (group) {
						let singleClass = {
							...element.id,
							...group,
							destinedForSemester: element.destinedForSemester,
							placesAvailable: group.maxParticipants - group.enrolledStudents.length
						}
						delete singleClass.enrolledStudents
						delete singleClass.schedule
						separatedClasses[singleClass.weekday].push(singleClass)
					})
				}
			})
			this.setAvailableSemesters(availableSemesters)
			return separatedClasses
		}
	},
	data () {
		return {
			times: [
				'08:15-09:45',
				'10:00-11:30',
				'11:45-13:15',
				'',
				'14:15-15:45',
				'16:00-17:30',
				'17:45-19:15',
				'19:30-21:00'
			],
			days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
			activemobile: 0,
			availableSemesters: [],
			selectedSemester: 'alle'
		}
	}
}
</script>

<style lang="scss" scoped>
$accent: rgb(246, 80, 80);

.semester{
	margin: 20px;
	text-align: center;
	position: relative;
	width: 200px;

	select{
		border: 2px solid lighten($accent, 30%);
		width: 40px;
		padding: 5px;
		position: relative;
		display: inline-block;
		}
		&::after{
			content: '▾';
			position: absolute;
			top: -2px;
			right: 45px;
			font-size: 1.5rem;
	}
}

.timetable {
	display: grid;
	grid-template-areas: "times content";
	grid-template-columns: 100px 1fr;
	margin: 20px;
}

.times {
	grid-area: times;
	display: grid;
	grid-template-rows: repeat(3, 1fr) 30px repeat(4, 1fr);
	margin-top: 50px;
	grid-gap: 0;
	text-align: center;
}

.days {
	grid-area: content;
	display: grid;
	align-content: center;
	text-align: center;
	grid-gap: 10px;
	grid-template-rows: 30px 1fr;
	grid-template-columns: repeat(5, 1fr);
	@media screen and (max-width: 1025px) {
		grid-template-columns: 1fr;
	}
}

.dayvigator {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	display: grid;
	text-align: center;
	align-items: center;
	grid-template-columns: 40px 1fr 40px;
	z-index: 10;

	@media screen and (min-width: 1025px) {
		display: none;
	}

	button {
		height: 100%;
		font-size: 2rem;
		display: none;
		line-height: 1;
	}

	span {
		text-transform: capitalize;
		font-weight: bold;
	}
}

input[type="submit"]{
	margin: 20px;
}

@media screen and (max-width: 1025px) {
	.dayvigator {
		position: fixed;
		bottom: 0;
		left: 0;
		background: #fff;
		width: 100%;
		height: 40px;
		display: grid;
		text-align: center;
		align-items: center;
		grid-template-columns: 40px 1fr 40px;

		button {
			height: 100%;
			font-size: 2rem;
			display: block;
		}
	}

	.days {
		display: block;
		column-count: 1;
	}

	.times {
		margin-top: 0;
	}

	.weekday-header {
		display: none;
	}

	.day {
		display: none;

		&.active-mobile {
			display: grid;
			z-index: 5;
		}
	}
}
</style>
